/* Theme Name: The Project - Responsive Website Template
Author:HtmlCoder
Author URI:http://www.htmlcoder.me
Author e-mail:htmlcoder.me@gmail.com
Version:1.0.0
Created:December 2014
License URI:http://support.wrapbootstrap.com/
File Description: Place here your custom CSS styles
*/

#headerMiddle{
    
}
#headbanner{
       position:relative;
       top:10px;
       height:100px;
       padding:0px;
      
      
       
}
#headheading {
    top:-19px;
    position: relative;
    color:#0057b9;
    letter-spacing:3px;
    font-size:50px;
    text-transform: none;
    font-family:century gothic;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}
#wrap-nav {
    /*background:#ffca27;*/
     width: 100%;
     
       background: #5b2283; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#5b2283, #9b1681); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#5b2283, #9b1681); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#5b2283, #9b1681); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#5b2283, #9b1681); /* Standard syntax */
        -moz-box-shadow: 0 0 5px #716d6d;
    -webkit-box-shadow: 0 0 5px #716d6d;
    box-shadow: 0 0 5px #716d6d;
}
#wrap-nav li a{
    color:white;
    font-family:century gothic;
    font-weight:bold;
    padding-top:13px;
    padding-bottom:15px;
    padding-left:30px;
    padding-right:30px;
   
    
}
#wrap-nav li a:hover{
    background:orange;
    color:black;
}
#bg-subfooter{
    font-family:century gothic;
    border-top:4px solid orange;
    height:70px;
    color:white;
     background: #5b2283; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#5b2283, #9b1681); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#5b2283, #9b1681); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#5b2283, #9b1681); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#5b2283, #9b1681); /* Standard syntax */
        -moz-box-shadow: 0 0 5px #716d6d;
    -webkit-box-shadow: 0 0 5px #716d6d;
    box-shadow: 0 0 5px #716d6d;
}
 
#homeRow1 {
    background:url(../images/background-img-7.jpg) no-repeat;
    background-size:cover;
    background-attachment: fixed;
    font-family: century gothic;
    position: relative;
    z-index: 0;
    height:500px;
}
#full-bg{
    background:rgba(0,0,0,0.7);
    margin:0px;
    height:480px;
    width:100%;
    position:relative;
    
    top:-10px;
}
#questionBox{
    position:relative;
    top:10px;
    font-family:century gothic;
    
}
#questionBox h4{
    font-family:century gothic;
    text-transform:none; 
}
#questionBoxHeader{
     color:white;
     background: #5b2283; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#5b2283, #9b1681); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#5b2283, #9b1681); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#5b2283, #9b1681); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#5b2283, #9b1681); /* Standard syntax */
        -moz-box-shadow: 0 0 5px #716d6d;
    -webkit-box-shadow: 0 0 5px #716d6d;
    box-shadow: 0 0 5px #716d6d;
}
#optionBox{
    height:200px;
    
}
#optionOne{
   background: #5b2283; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#5b2283, #9b1681); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#5b2283, #9b1681); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#5b2283, #9b1681); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#5b2283, #9b1681); /* Standard syntax */
        -moz-box-shadow: 0 0 5px #716d6d;
    -webkit-box-shadow: 0 0 5px #716d6d;
    box-shadow: 0 0 5px #716d6d;
    color:white;
    font-size:18px;
    font-weight:bold;
}
#optionOne:hover{
     background: #5b2283; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#5b2283, #9b1681); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#5b2283, #9b1681); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#5b2283, #9b1681); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#5b2283, #9b1681); /* Standard syntax */
}