	<div class="header-container">
				
				<!-- header-top start -->
				<!-- classes:  -->
				<!-- "dark": dark version of header top e.g. class="header-top dark" -->
				<!-- "colored": colored version of header top e.g. class="header-top colored" -->
				
				<!-- header-top end -->
				
				<!-- header start -->
				<!-- classes:  -->
				<!-- "fixed": enables fixed navigation mode (sticky menu) e.g. class="header fixed clearfix" -->
				<!-- "dark": dark version of header e.g. class="header dark clearfix" -->
				<!-- "full-width": mandatory class for the full-width menu layout -->
				<!-- "centered": mandatory class for the centered logo layout -->
				<!-- ================ --> 
				  <div class="container">
                                        <div class="row" style="position:relative;top:10px;margin-bottom:10px">
                                            <div class="col-md-2 col-xs-4" id="headbanner">
                                                <div id="logoImg" class="logo text-center object-non-visible animated object-visible fadeInLeft" data-animation-effect="fadeInLeft" data-effect-delay="600" style="position: relative; text-align: center;">
                                                    <p><a href="index.php"><img id="logo_img" src="images/mp-opinion-logo.png" alt="" style="width:100%; "></a></p>
                                                </div>
                                            </div>
                                            <div class="col-md-9 col-xs-6">
                                                 <div id="logoImg" class="logo pull-right text-center object-non-visible animated object-visible fadeInLeft" data-animation-effect="fadeInLeft" data-effect-delay="600" style="position: relative; text-align: center;">
                                                    <p><a href="index.php"><img id="logo_img" src="images/opinion.jpg" alt="" style="width:100%; height:100px"></a></p>
                                                </div>
                                               
                                            </div>
                                        </div>
                                    </div>
                                <header class="header  fixed   clearfix" id="headerMiddle">
                                  
					<div id="wrap-nav">
                                        <div class="container">
						
                                                    <div class="row">
							<div class="object-non-visible animated object-visible fadeInRight" data-animation-effect="fadeInRight" data-effect-delay="600">
                                                                <!-- header-right start -->
								<!-- ================ -->
                                                                <div class="header-right clearfix">
								<!-- main-navigation start -->
								<!-- classes: -->
								<!-- "onclick": Makes the dropdowns open on click, this the default bootstrap behavior e.g. class="main-navigation onclick" -->
								<!-- "animated": Enables animations on dropdowns opening e.g. class="main-navigation animated" -->
								<!-- "with-dropdown-buttons": Mandatory class that adds extra space, to the main navigation, for the search and cart dropdowns -->
								<!-- ================ -->
                                                                <div class="main-navigation  animated with-dropdown-buttons ">
<!-- navbar start -->                                               <!-- ================ -->
									<nav class="navbar navbar-default" role="navigation" id="newFont1">
										<div class="container-fluid">

											<!-- Toggle get grouped for better mobile display -->
											<div class="navbar-header">
												<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
													<span class="sr-only">Toggle navigation</span>
													<span class="icon-bar"></span>
													<span class="icon-bar"></span>
													<span class="icon-bar"></span>
												</button>
												
											</div>
                                                                                       
                                                                                            <!-- Collect the nav links, forms, and other content for toggling -->
                                                                                            <div class="collapse navbar-collapse" id="navbar-collapse-1">
                                                                                                <!-- main-menu -->
                                                                                                    
                                                                                                <ul class="nav navbar-nav" id="multiDrop">
                                                                                                    <li id="home" class="active"><a href="index.php">Home</a></li>
                                                                                                        
                                                                                                    <li id="about-us"><a href="about-us.php">About Us</a></li>
                                                                                                    <li id="admission-procedure"><a href="admission-procedure.php">Policies</a></li>
                                                                                                    <li id="downloads"><a href="downloads.php">Terms</a></li>
                                                                                                    <li id="gallery"><a href="gallery.php">Faq's</a></li>	
                                                                                                    <li id="contact"><a href="contactus.php">Contact Us</a></li>	
                                                                                                </ul>
                                                                                                    
                                                                                                    
                                                                                                    
                                                                                                <!-- main-menu end -->
                                                                                                    
                                                                                                    
                                                                                                    
                                                                                            </div>
                                                                                        
										</div>
									</nav>
									<!-- navbar end -->

								</div>
								<!-- main-navigation end -->	
								</div>
								<!-- header-right end -->
					
							</div>
						</div>
					</div>
                                    </div>
					
				</header>
				<!-- header end -->
			</div>